<!DOCTYPE html>
html(lang="en")
    head
        title Pocket Japan Test
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
        link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
        link(rel="stylesheet", href="stylesheets/all.css")
    body
        nav
        section#header
            h1 職場的酸甜苦辣十種滋味，
                br
                | 你是職場中哪種日式調味料？
            a(href="#intro")
                .lets_see 趕快來看看!
                .fas.fa-chevron-down
            .illustration
                img#human1(src="source/img/human1.png", alt="")
                img#human2(src="source/img/human3.png", alt="")
                img#human3(src="source/img/human3.png", alt="")
                img#human4(src="source/img/human4.png", alt="")
        section#intro
            .container.part-one
                .intro
                    h2 文案標題
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, quia adipisci incidunt voluptas blanditiis suscipit dolores ducimus veritatis, sunt aspernatur molestiae nisi pariatur quibusdam, dicta modi harum totam quisquam? Voluptatibus?
                iframe(src="https://www.youtube.com/embed/9aJVr5tTTWk", frameborder="0")
            .container.part-two
                .illustration
                    img(src="source/img/human3.png", alt="")
                    img(src="source/img/human3.png", alt="")
                    img(src="source/img/human3.png", alt="")
                    img(src="source/img/human3.png", alt="")
                    img(src="source/img/human3.png", alt="")
                    img(src="source/img/human3.png", alt="")
                    
                a.btn.start(href="#question") 開始測驗
        section#question
            .container#q-one
                .number Q1
                .form
                    .h2.question 第一天上班的時候，老闆要你向大家自我介紹，你通常會.....
                    input(type="radio" id="one-A"  name="q-one" value="A" required) 
                    label(for="one-A") A. 有點怯場尷尬地介紹自己
                    br
                    input(type="radio" id="one-B"  name="q-one" value="B") 
                    label(for="one-B") B. 事先就內心演練好幾回怎麼介紹了
                    br
                    input(type="radio" id="one-C"  name="q-one" value="C") 
                    label(for="one-C") C. 不敢在介紹中提到自己的私人興趣
                    br
                    input(type="radio" id="one-D"  name="q-one" value="D") 
                    label(for="one-D") D. 絕對會向大家介紹你的興趣並藉此尋找同好
                    br
                    input(type="radio" id="one-E"  name="q-one" value="E") 
                    label(for="one-E") E. 在大家面前舉起你人民的法槌
                    img(src="source/img/human3.png", alt="")
                .wrap
                    a.next-2(href="#q-two")
                        input(type="submit" value="下一題").btn 
                    
            .container#q-two
                .number Q2
                .form
                    .wrap-top
                        .h2.question 上班午休時間，你通常會....
                        input(type="radio" id="two-A"  name="q-two" value="A" required) 
                        label(for="two-A") A. 簡單吃點東西，拿來趕工作進度
                        br
                        input(type="radio" id="two-B"  name="q-two" value="B") 
                        label(for="two-B") B. 和三五好友聚在一起吃午餐
                        br
                        input(type="radio" id="two-C"  name="q-two" value="C") 
                        label(for="two-C") C. 簡單吃點東西，剩下時間拿來睡覺
                        br
                        input(type="radio" id="two-D"  name="q-two" value="D") 
                        label(for="two-D") D. 趁著午休到外面去午餐順便逛逛呼吸自由空氣
                        br
                        input(type="radio" id="two-E"  name="q-two" value="E") 
                        label(for="two-E") E. 躲在上司看不到的角落一邊吃飯一邊追劇
                        img(src="source/img/human3.png", alt="")
                    .wrap
                        a.btn.back-1(href="#q-one") 上一題
                        
                        a.next-3(href="#q-three")   
                            input(type="submit" value="下一題").btn 
                
            .container#q-three
                .number Q3
                .form
                    .h2.question 客戶的種種刁難害你加班到深夜，你會....
                    input(type="radio" id="three-A"  name="q-three" value="A" required) 
                    label(for="three-A") A. 在群組、IG上、跟各路朋友大抱怨機車客戶
                    br
                    input(type="radio" id="three-B"  name="q-three" value="B") 
                    label(for="three-B") B. 吃頓罪惡的宵夜晚餐好犒賞自己
                    br
                    input(type="radio" id="three-C"  name="q-three" value="C") 
                    label(for="three-C") C. 已經習慣，無所謂日子照過
                    br
                    input(type="radio" id="three-D"  name="q-three" value="D") 
                    label(for="three-D") D. 回家洗洗睡什麼都不想思考
                    br
                    input(type="radio" id="three-E"  name="q-three" value="E") 
                    label(for="three-E") E. 問主管明天能不能晚點進辦公室補休
                    img(src="source/img/human3.png", alt="")
                .wrap
                    a.btn.back-2(href="#q-two") 上一題
                    a.next-4(href="#q-four")
                        input.btn(type="submit" value="下一題")
                        
            .container#q-four
                .number Q4
                .form
                    .h2.question 疫情過去，遇到連休好友提議夏天去日本玩，你會.....
                    input(type="radio" id="four-A"  name="q-four" value="A" required) 
                    label(for="four-A") A. 當然是去東京新宿血拼
                    br
                    input(type="radio" id="four-B"  name="q-four" value="B") 
                    label(for="four-B") B. 去北海道美瑛看薰衣草花海
                    br
                    input(type="radio" id="four-C"  name="q-four" value="C") 
                    label(for="four-C") C. 去大阪環球影城玩夠本
                    br
                    input(type="radio" id="four-D"  name="q-four" value="D") 
                    label(for="four-D") D. 蛤開什麼玩笑你們怎麼敢出國
                    br
                    input(type="radio" id="four-E"  name="q-four" value="E") 
                    label(for="four-E") E. 哭，根本沒有朋友邀我出國玩
                    img(src="source/img/human3.png", alt="")
                .wrap
                    a.btn.back-3(href="#q-three") 上一題
                    a.next-5(href="#q-five")
                            input.btn(type="submit" value="下一題")
            .container#q-five
                .number Q5
                .form
                    .h2.question 半夜回家的時候，巷子口有個女孩正在淒厲地哭
                    input(type="radio" id="five-A"  name="q-five" value="A" required) 
                    label(for="five-A") A. 以為是鬼嚇個半死
                    br
                    input(type="radio" id="five-B"  name="q-five" value="B") 
                    label(for="five-B") B. 先錄影傳給朋友看再說
                    br
                    input(type="radio" id="five-C"  name="q-five" value="C") 
                    label(for="five-C") C. 過去溫暖的遞出衛生紙
                    br
                    input(type="radio" id="five-D"  name="q-five" value="D") 
                    label(for="five-D") D. 小心翼翼地迴避閃過逃回家
                    br
                    input(type="radio" id="five-E"  name="q-five" value="E") 
                    label(for="five-E") E. 遠方觀察推理為何這個女孩在哭泣
                    img(src="source/img/human3.png", alt="")
                .wrap
                    a.btn.back-4(href="#q-four") 上一題
                    a.next-6(href="#q-six")
                        input.btn(type="submit" value="下一題")
            .container#q-six
                .number Q6
                .form
                    .h2.question 半夜回家的時候，巷子口有個女孩正在淒厲地哭
                    input(type="radio" id="six-A"  name="q-six" value="A" required) 
                    label(for="six-A") A. 以為是鬼嚇個半死
                    br
                    input(type="radio" id="six-B"  name="q-six" value="B") 
                    label(for="six-B") B. 先錄影傳給朋友看再說
                    br
                    input(type="radio" id="six-C"  name="q-six" value="C") 
                    label(for="six-C") C. 過去溫暖的遞出衛生紙
                    br
                    input(type="radio" id="six-D"  name="q-six" value="D") 
                    label(for="six-D") D. 小心翼翼地迴避閃過逃回家
                    br
                    input(type="radio" id="six-E"  name="q-six" value="E") 
                    label(for="six-E") E. 遠方觀察推理為何這個女孩在哭泣
                    img(src="source/img/human3.png", alt="")
                .wrap
                    a.btn.back-5(href="#q-five") 上一題
                    a.next-7(href="#q-seven")
                        input.btn(type="submit" value="最後一題")
            .container#q-seven
                .number Q7
                .form
                    .h2.question 和客戶開會的時候，你注意到客戶簡報上數字有錯誤，你會....
                    input(type="radio" id="seven-A"  name="q-seven" value="A" required) 
                    label(for="seven-A") A. 直接地指出錯誤
                    br
                    input(type="radio" id="seven-B"  name="q-seven" value="B") 
                    label(for="seven-B") B. 在對談間巧妙間接提醒那裡有錯
                    br
                    input(type="radio" id="seven-C"  name="q-seven" value="C") 
                    label(for="seven-C") C. 假裝沒發現，反正不干我的事
                    br
                    input(type="radio" id="seven-D"  name="q-seven" value="D") 
                    label(for="seven-D") D. 緊張地檢查自己的資料是不是才是錯誤的版本
                    br
                    input(type="radio" id="seven-E"  name="q-seven" value="E") 
                    label(for="seven-E") E. 根本沒發現到錯誤！就沒有錯誤！
                    img(src="source/img/human3.png", alt="")
                .wrap
                    a.btn.back-6(href="#q-six") 上一題
                    a.next-result(href="#section#result")
                        input.btn(type="submit" value="看結果")
        section#result
            .wrap
                h3 你在職場是OOOOO型調味料
                .container.part-one
                    .wrap
                        .h4 文案標題
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, quia adipisci incidunt voluptas blanditiis suscipit dolores ducimus veritatis, sunt aspernatur molestiae nisi pariatur quibusdam, dicta modi harum totam quisquam? Voluptatibus?
                    img(src="source/img/human3.png", alt="")
                .container.part-two
                    a.btn.link(href="#") 你的調味料!
                    a.btn.restart(href="#question") 再測一次
                    a.btn.share(href="#") 分享你的結果

        section#article
        footer


        script(src="javascript/jquery.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src="javascript/bootstrap.min.js")
        script(src="javascript/all.js")
