<!DOCTYPE html>
html(lang="en")
    head
        title Pocket Japan Test
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
        link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
        link(rel="stylesheet", href="stylesheets/all.css")
    body
        nav
        section#header
            h1 職場的酸甜苦辣十種滋味，
                br
                | 你是職場中哪種日式調味料？
            a(href="#")
                .lets_see 趕快來看看!
                .fas.fa-chevron-down(href="#intro")
            .illustration
                img#human1(src="source/img/human1.png", alt="")
                img#human2(src="source/img/human3.png", alt="")
                img#human3(src="source/img/human3.png", alt="")
                img#human4(src="source/img/human4.png", alt="")
        section#intro
            .container
                .intro
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, quia adipisci incidunt voluptas blanditiis suscipit dolores ducimus veritatis, sunt aspernatur molestiae nisi pariatur quibusdam, dicta modi harum totam quisquam? Voluptatibus?
                    iframe(src="https://www.youtube.com/embed/9aJVr5tTTWk", frameborder="0")
            
            a.button(href="#question")
                button(type="button").btn 開始測驗
        section#question
        section#result
        section#article
        footer


        script(src="javascript/jquery.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src="javascript/bootstrap.min.js")
        script(src="javascript/all.js")
